<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QONDO-NEO</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"
    integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
    integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .container {
      display: flex;
      justify-content: space-evenly
    }

    html,
    body {
      height: 100%;
      background-color: #333;
    }

    body {
      display: -ms-flexbox;
      display: flex;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }
  </style>
</head>

<body>
  <main id="app" class="container text-center">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <h1 style="color: #fff;">Qondo Neo</h1>
        <h3 style="color: #fff;">Tweet Sentiments</h3>
        <hr>
        <div v-if="currentTweet.id" class="card">
          <div class="card-body">
            <em>
              Please state whether you think the following tweet is Positive or Negative. Choose Neutral if you are
              unsure
            </em>
            <div class="card-text text-center">
              <hr>
              <p>{{ currentTweet.text }}</p>
              <hr>
            </div>
          </div>
          <div v-if="!loading" class="card-body container">
            <button @click="answer('positive')" type="button" class="btn btn-success">👍 Positive 👍</button>
            <button @click="answer('neutral')" type="button" class="btn btn-secondary">- Neutral -</button>
            <button @click="answer('negative')" type="button" class="btn btn-danger">👎 Negative 👎</button>
          </div>
          <div v-if="loading" class="text-right" style="position: absolute; margin: 5px; right: 10px">
            <div class="spinner-grow spinner-grow-sm text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div v-else class="card">
          <div class="card-body">
            <em>Please help us by choosing whether you think tweets are positive👍 in sentiment or negative👎.</em>
          </div>
          <div v-if="!loading && !finished" class="card-body container">
            <button @click="start" type="button" class="btn btn-secondary">Begin Answering</button>
          </div>
          <div v-else class="card-body container">
            <button disabled type="button" class="btn btn-secondary">Nothing Left To Answer. Come back later</button>
          </div>
          <div v-if="loading" class="text-right" style="position: absolute; margin: 5px; right: 10px">
            <div class="spinner-grow spinner-grow-sm text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </main>
    </div>
  </main>
  <script type="text/javascript">
    (function () {
      var app = new Vue({
        el: '#app',
        data() {
          return {
            loading: false,
            finished: false,
            currentTweet: { id: null, text: null }
          }
        },
        methods: {
          start() {
            this.currentTweet = { id: null, text: null }
            this.loading = true
            axios.get("/api/tweets/").then((response) => {
              this.currentTweet = response.data
              if (this.currentTweet.id === null) { this.finished = true }
              this.loading = false
            })
          },
          answer(sentiment) {
            this.loading = true
            axios.post(`/api/answers/${this.currentTweet.id}`, {
              sentiment: sentiment
            }).then((response) => {
              this.currentTweet = response.data
              if (this.currentTweet.id === null) { this.finished = true }
              this.loading = false
            })
          }
        }
      })
    })();
  </script>
</body>

</html>
